<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Тестовая страница">
    <title>TEST HTML</title>
    <style>
        .wrapper {
            display: block;
            width: 100%;
            margin: 0 auto;
        }
    </style>
</head>
<body>

<!-- MAIN -->
<div class="wrapper">

    <h2 style="color: red">TEST HTML</h2>
  
    <hr>
    <!-- TAБЛИЦА (tr-строки, td-столбцы) -->
    <table>
        <caption><b>ТАБЛИЦА</b></caption>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>
    </table>
    <hr>

    <!-- СИМВОЛЫ HTML -->
    <div>&larr;</div>
    <div>&rarr;</div>    
    <div>&uarr;</div>    
    <div>&darr;</div>    
    <div>&harr;</div>    
    <div>&bull;</div>    
    <div>&mdash;</div>    
    <div>&iexcl;</div>
    <div>&sect;</div>
    <div>&copy;</div>
    <div>&reg;</div>
    <div>&para;</div>
    <div>&times;</div>
    <div>&nbsp;</div>
    <hr>

    <!-- ФОРМА -->
    <form action="">
        <input type="text" value="text"><br>
        <input type="button" value="BTN"><br>
        <input type="checkbox" value="checkbox"><br>
        <input type="date" value="date"><br>
        <input type="datetime" value="datetime"><br>
        <input type="email" value="email"><br>
        <input type="file" value="file"><br>
        <input type="hidden" value="hidden"><br>
        <input type="image" value="image"><br>
        <input type="number" value="number"><br>
        <input type="password" value="password"><br>
        <input type="radio" value="radio"><br>
        <input type="range" value="range"><br>
        <input type="reset" value="reset"><br>
        <input type="submit" value="submit"><br>
        <input type="tel" value="tel"><br>
        <input type="time" value="time"><br>
        <input type="url" value="url"><br>
        <input type="week" value="week">        
    </form>
    
    <hr>
    
    <form action="">
        <label for="text">Text</label>
        <input type="text" value="text" id="text" name="text"><br>
        <button>КНОПКА</button>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <section>
            <option value="txt1">Text1</option>
            <option value="txt1">Text1</option>
            <option value="txt1">Text1</option>
        </section>
    </form>

    <!-- LINK & IMAGE-->
    <a href="#">CСЫЛКА</a>
    <img src="img/SGI_021.png" alt="SGIMAN STAMP">

    <!-- БЛОЧНЫЕ и СТРОЧНЫЕ теги -->
    <div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt culpa suscipit, 
            laborum, adipisci eaque <span>SPAN libero veniam SPAN </span> consectetur asperiores, 
            <div>DIV dolorum nemo minima porro natus qui? DIAV</div>Amet corrupti consequatur ut dolore vero.</p>
    </div>

    <h1>title h1</h1>
    <h2>title h2</h2>
    <h3>title h3</h3>
    <h4>title h4</h4>
    <h5>title h5</h5>
    <h6>title h6</h6>


    <!-- УНИВЕРСАЛЬНЫЕ АТРИБУТЫ -->
    <div class="div_el" id="ediv">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, 
        laboriosam earum autem voluptatum eligendi quam labore sed cumque, 
        voluptate rerum, sunt sapiente quo eum libero. 
        Distinctio reprehenderit quam quisquam cumque?rem
    </div>

    <div class="div_el" id="ediv2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, 
        laboriosam earum autem voluptatum eligendi quam labore sed cumque, 
        voluptate rerum, sunt sapiente quo eum libero. 
        Distinctio reprehenderit quam quisquam cumque?rem
    </div>


    <!-- SGIMAN -->
    <img id="SGI" class="no-select" src="img/SGI_002.png" alt="SGI" title="SGI-SCS" />

</div><!-- wrapper -->

<!-- SCRIPTS -->

</body>
</html>
