/****************************************************************************************
 * style.css
 * --------------------------------------------------------------------------------------
 * Visual Studio Code
 * HTML, CSS, JavaScript
 * --------------------------------------------------------------------------------------
 * Язык CSS для новичков ITDoctor (2022)
 *
 * Уроки по языку CSS собраны в одном плейлисте для вашего удобства. 
 * Тут вы сможете легко выучить язык CSS3 начиная с основ и 
 * завершая полным пониманием каскадных таблиц стилей * CSS. 
 * Изучите много полезных свойств.
 *
 * https://www.youtube.com/playlist?list=PLuY6eeDuleINJ5hIlBJWopSWHWDJYz_XW
 *
 *----------------------------------------------------------------------------------------
 * VS CODE:
 * ALT+SHIFT+F - авто-выравнивание СSS-кода 
 * ALT+D - дублирование
 * ALT-Z - перенос строки 
 * CTRL+SPACE - браузер для файлов
 *----------------------------------------------------------------------------------------
 * p20-auto-20 - padding
 * m30-auto - margin
 * lorem50 - шаблонный текст
 * ****************************************************************************************
 * Writing & Modification by sgiman (SCS) @ 2023-09
 */

/*
 *  Приоритет: свеху-вниз!!!
 */

* {
    color: rgb(5, 129, 32);
 }

 h2 {
    color: blue;
}

 .element {
    color: red;
}

div[title] {
    color: chocolate; 
}

div[title="text"] {
    color:blueviolet; 
}

p {
    color: teal;
    /* background-color:rgb(252, 248, 7); */
    background: transparent;
    border: 5px green outset;
    padding: 20px;
    /* border-radius: 10px; */
    border-radius: 10px 20px 30px 40px;
    border-top-color: blueviolet;
}

.logo {
    background-image: url(../img/SGI_021.png) ;
    background-repeat: no-repeat;
    height: 250px;
}

