* {
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.box {
    background: rgb(13, 199, 190);
}
.box__inner {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item {
    display: flex;
    align-items: center;
    text-align: center;
}
.item__content {
    padding-left: 25px;
    text-align-last: left;
}
.number {
    padding-top: 15px;
    font-size: 30px;
}
.text {
    font-size: 15px;
    font-family: sans-serif;
    margin-bottom: 25px;
    text-transform: uppercase;
}
i.fa {
    font-size: 50px;
}
