/****************************************************************************************
 * style.css
 * --------------------------------------------------------------------------------------
 * Visual Studio Code
 * HTML, CSS, JavaScript
 * --------------------------------------------------------------------------------------
 * Язык CSS для новичков ITDoctor (2022)
 *
 * Уроки по языку CSS собраны в одном плейлисте для вашего удобства. 
 * Тут вы сможете легко выучить язык CSS3 начиная с основ и 
 * завершая полным пониманием каскадных таблиц стилей * CSS. 
 * Изучите много полезных свойств.
 *
 * https://www.youtube.com/playlist?list=PLuY6eeDuleINJ5hIlBJWopSWHWDJYz_XW
 *
 *----------------------------------------------------------------------------------------
 * VS CODE:
 * ALT+SHIFT+F - авто-выравнивание СSS-кода 
 * ALT+D - дублирование
 * ALT-Z - перенос строки 
 * CTRL+SPACE - браузер для файлов
 *----------------------------------------------------------------------------------------
 * p20-auto-20 - padding
 * m30-auto - margin
 * lorem50 - шаблонный текст
 * ****************************************************************************************
 * Writing & Modification by sgiman (SCS) @ 2023-09
 */

/*
 *  Приоритет: свеху-вниз!!!
 *  "div" по-умолчанию имеет свойствo "display: block"
 *  flow - устарело
 *  grid (bootstrap) и flex - более новые 
 */

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img {
    width: 100px;
}

.container {
    width: 1170px;
    margin: 0 auto; /* выровнять по центру с одинаковыми отступами слева-справа */

}

/*---------------------------
.menu {
    border: 1px solid red; 
}
---------------------------*/

.menu__inner {
    /* border: 1px solid red; */
    display: flex;                  /* в одну строку */
    justify-content: space-between; /* разнести контент по сторонам - слева (logo), справа (nav) */
    align-items: center;            /* выровнять элементы по центру */
    margin: 25px 0;                 /* отступы: сверхe/cнизу=15, по-бокам=0 */
}

.nav {
    display: flex;              /* в одну строку */
    list-style: none;           /* скрыть символы списка */
    padding: 0;                 /* reset padding */
    margin: 0;                  /* reset marging */
}

.nav li a {
    color:#333;
    text-transform: uppercase;  /* верхний регистр (заглавные) */
    text-decoration: none;
    padding: 10px 20px;         /* сверху/снизу=10, по-бокам=20px */
}
.nav li a:hover {
    background-color: #333;
    color:white;
    border-radius: 5px;
}
